<%= form_for(@car, html: {class: 'form-horizontal'}) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2>
        <% pluralize(@car.errors.count, "error") %>
        prohibited this car from being saved:
      </h2>
      <ul>
        <% @car.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Image -->
  <div class="form-group">
    <%= f.label :car, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.file_field :car_img %>
    </div>
  </div>
  <!-- End Image -->
  <!-- Input Name -->
  <div class="form-group">
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control', :placeholder => 'Name' %>
    </div>
  </div>
  <!-- End Input Name-->
  <!-- Input Description -->
  <div class="form-group">
    <%= f.label :description, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control', :placeholder => 'Description'%>
    </div>
  </div>
  <!-- End Input Description-->
  <!-- Button Submit -->
  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-default' %>
      </div>
  </div>
  <!-- End Button Submit -->

<% end %>
