<h1>Listing articles</h1>

<%= link_to 'New car', new_car_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th colspan="2"></th>
  </tr>

  <% @cars.each do |car| %>
    <tr>
      <td><%= car.name %></td>
      <td><%= car.description %></td>
      <td><%= link_to 'Show', car_path(car) %></td>
      <td><%= link_to 'Edit', edit_car_path(car) %></td>
    </tr>
  <% end %>
</table>
