<h2>Vehicle</h2>

<div class="row">
  <strong class="col-sm-2">Car:</strong>
  <div class="col-sm-10">
    <%= image_tag @car.car_img %>
  </div>
</div>

<div class="row">
  <strong class="col-sm-2">Name:</strong>
  <div class="col-sm-10">
    <%= @car.name %>
  </div>
</div>

<div class="row">
  <strong class="col-sm-2">Description:</strong>
  <div class="col-sm-10">
    <%= @car.description %>
  </div>
</div>

<h2>Parts</h2>
<%= render @car.parts %>

<h2>Add a part:</h2>
<%= render 'parts/form' %>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to 'Edit', edit_car_path(@car), :class => 'btn btn-success' %> | <%= link_to 'Back', cars_path, :class => 'btn btn-default' %>
    </div>
</div>
