<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Desciption:</strong>
  <%= @car.description %>
</p>

<h2>Parts</h2>
<%= render @car.parts %>

<h2>Add a part:</h2>
<%= form_for([@car, @car.parts.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
